.hero {
  position: relative;
  border-radius: 8px;
  margin: 25px 0;
  overflow: hidden;
}

.carousel-overlay {
  position: relative;
  z-index: 1;
}

.carousel-item img {
  max-height: 400px;
  height: 350px;
  object-fit: cover;
  width: 100%;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 5px;
}

.carousel-caption h3 {
  color: #ffffff;
  font-size: 24px;
}

.carousel-caption p {
  color: #f3f3f3;
  font-size: 16px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

